# Node
node_modules/
dev-dist/
npm-debug.log*

# Python
venv/
.venv/
__pycache__/
*.pyc

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example
!.env.production

# Build
dist/
build/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
